
body{

    background-image: url(imgs/background\ .png);
   
}

.positioning-and-dimensions {
    width: 70%;
    height: 70vh;
    margin: 5% 15%;
    position: absolute;
}

p{

    padding-top: 90px;
}

canvas {

    background-color: rgba(0,0,0,.8);
    color: #fff;
    outline: 1px solid rgb(194, 31, 112);
    display: block;
   
}


#game-interface,
#gameover {
    justify-content: center;
    align-items: center;
    background-color:  rgba(83, 55, 69, 0.8);
    display: none;

}

#gstart-img,
#uwon-img,
#gover-img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 200px;
    position: absolute;
    display: none;
}

#play-now,
#playagain {
    position: absolute;
    top: 27vh;
    font-size: 2em;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 1.25px 1.25px;
    cursor: pointer;
    z-index: 2;
    display: none;
}