.positioning-and-dimensions {
    width: 70%;
    height: 50vh;
    margin: 2% 15%;
    position: absolute;
}

canvas {
    outline: 1px solid saddlebrown;
    display: block;
   
}


#game-interface,
#gameover {
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 148, 31, .5);
    display: none;

}

#gstart-img,
#uwon-img,
#gover-img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 200px;
    position: absolute;
    display: none;
}

#play-now,
#playagain {
    position: absolute;
    top: 27vh;
    font-size: 2em;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 1.25px 1.25px;
    cursor: pointer;
    z-index: 2;
    display: none;
}
#sound{
width:30px;
height: 30px;
top: 280px;
left: 210px;
position: absolute;
}